@using EndlasNet.Web.Models;
@model EndlasNet.Web.Models.WorkItemViewModel

@{
    ViewData["Title"] = "Uninitialize";
}

<h1>Uninitialize</h1>
<h3>Are you sure you want to uninitialize this? All parts for work will be lost.</h3>
<br />
<div>
    @await Html.PartialAsync("_DetailsAndUninitialize", Model)
</div>
<br />
<form asp-action="Uninitialize">
    <input type="hidden" asp-for="@Model.WorkItemId" />
    <input type="hidden" asp-for="@Model.WorkItem" />
    <input type="hidden" asp-for="@Model.WorkItem.StartDate" />
    <input type="hidden" asp-for="@Model.WorkItem.CompleteDate" />
    <input type="hidden" asp-for="@Model.WorkItem.WorkId" />
    <input type="hidden" asp-for="@Model.WorkItem.StaticPartInfoId" />
    <input type="hidden" asp-for="@Model.WorkItem.IsInitialized" />
    <input type="hidden" asp-for="@Model.WorkItem.Status" />

    <input type="hidden" asp-for="@Model.NumPartsForWork" />
    <input type="hidden" asp-for="@Model.StartDate" />
    <input type="hidden" asp-for="@Model.CompleteDate" />
    <input type="hidden" asp-for="@Model.WorkId" />

    <input type="submit" value="Uninitialize" asp-route-id="@Model.WorkItemId" class="btn btn-danger" /> |
    <a asp-action="Index" asp-route-workId="@Model.WorkId">Back to list</a>
</form>

