@model EndlasNet.Data.WorkItem

@{
    ViewData["Title"] = "Uninitialize";
}

<h1>Uninitialize</h1>
<h3>Are you sure you want to uninitialize this?</h3>

<div>
    <h4>Work item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Work Endlas number
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.EndlasNumber)
        </dd>
    </dl>
</div>
<form asp-action="Uninitialize">
    <input type="hidden" asp-for="@Model.WorkItemId" />
    <input type="hidden" asp-for="@Model.WorkId" />
    <input type="hidden" asp-for="@Model.Work" />
    <input type="hidden" asp-for="@Model.IsInitialized" />
    
    <input type="submit" value="Uninitialize" asp-route-id="@Model.WorkItemId" class="btn btn-danger" /> |
    <a asp-action="Index" asp-route-workId="@Model.WorkId">Back to list</a>
</form>

