@using EndlasNet.Web.Models;
@model EndlasNet.Data.WorkItem

@{
    WorkItemViewModel vm = ViewBag.vm;
    ViewData["Title"] = "Uninitialize";
}

<h1>Uninitialize</h1>
<h3>Are you sure you want to uninitialize this? All parts for work will be lost.</h3>
<br />
<div>
    <h4>Work item</h4>
    <dl class="row">
       <dt class="col-sm-2">
           Work Endlas number
       </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.EndlasNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaticPartInfo.DrawingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaticPartInfo.DrawingNumber)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompleteDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompleteDate)
        </dd>
        <dt class="col-sm-2">
            Number of parts for work
        </dt>
        <dd class="col-sm-10">
            @vm.NumPartsForWork
        </dd>


    </dl>
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        Title:
        <em>
            @Html.DisplayFor(model => model.StaticPartInfo.ImageName)
        </em>
    </h6>
    <div class="col-sm-2">
        <img src="@Html.DisplayFor(model => model.StaticPartInfo.ImageUrl)" style="max-width:650px;max-height:650px" alt="Drawing Image" />
    </div>
</div>
<br />
<form asp-action="Uninitialize">
    <input type="hidden" asp-for="@Model.WorkItemId" />
    <input type="hidden" asp-for="@Model.WorkId" />
    <input type="hidden" asp-for="@Model.StaticPartInfo" />
    <input type="hidden" asp-for="@Model.StaticPartInfoId" />
    <input type="hidden" asp-for="@Model.StartDate" />
    <input type="hidden" asp-for="@Model.CompleteDate" />
    <input type="hidden" asp-for="@Model.Status" />
    <input type="hidden" asp-for="@Model.Work" />
    <input type="hidden" asp-for="@Model.IsInitialized" />
    <input type="hidden" asp-for="@Model.PartsForWork" />
    <input type="submit" value="Uninitialize" asp-route-id="@Model.WorkItemId" class="btn btn-danger" /> |
    <a asp-action="Index" asp-route-workId="@Model.WorkId">Back to list</a>
</form>

