@model EndlasNet.Data.Powder

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Powder</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Powder name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowderName)
        </dd>
        <dt class = "col-sm-2">
            Vendor description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class = "col-sm-2">
            PO number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoNumber)
        </dd>
        <dt class = "col-sm-2">
            PO date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PoDate)
        </dd>
        <dt class = "col-sm-2">
            Bottle number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BottleNumber)
        </dd>
        <dt class = "col-sm-2">
            Particle size (um)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParticleSize)
        </dd>
        <dt class = "col-sm-2">
            Initial weight (lbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitWeight)
        </dd>
        <dt class = "col-sm-2">
            Weight (lbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class = "col-sm-2">
            Cost per lb
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostPerUnitWeight)
        </dd>
        <dt class = "col-sm-2">
            Lot number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LotNumber)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>
        <dt class = "col-sm-2">
            Vendor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PowderId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
