@model IEnumerable<EndlasNet.Data.Powder>

@{
    ViewData["Title"] = "Powders";
}

<h1>Powders</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Powder name
            </th>
            <th>
                Vendor description
            </th>
            <th>
                PO number
            </th>
            <th>
                PO date
            </th>
            <th>
                Powder weight (lbs)
            </th>
            <th>
                Cost per lb
            </th>
            <th>
                Lot number
            </th>
            <th>
                Vendor name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PowderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PoDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CostPerUnitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>  
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PowderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PowderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PowderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
