@model IEnumerable<EndlasNet.Data.Powder>

@{
    ViewData["Title"] = "Powder bottle batch";
}
<h2>Powder bottle batch</h2>
<h5>
    <span>
        @ViewBag.PowderOrderNum,&nbsp;@ViewBag.LineItemVendorDescription,&nbsp;@ViewBag.PowderName
    </span>
</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BottleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var initWeightStr = string.Format("{0:0.0000}", item.InitWeight);
            var weightStr = string.Format("{0:0.0000}", item.Weight);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BottleNumber)
                </td>
                <td>
                    @initWeightStr
                </td>
                <td>
                    @weightStr
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNumber)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PowderId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PowderId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PowderId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
