@model IEnumerable<EndlasNet.Data.EnvironmentalSnapshot>

@{
    ViewData["Title"] = "Environment";
}
<a asp-action="Environments" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Environments
    </span>
</a>
<h1>Environmental snapshot</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateTimeCollected)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Humidity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateTimeCollected)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Humidity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EnvSnapshotId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EnvSnapshotId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EnvSnapshotId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
