    @model IEnumerable<EndlasNet.Data.Admin>

@{
    ViewData["Title"] = "Admins";
}

<h1>Admins</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("First name", "Index", new { sortOrder = ViewBag.FirstNameDescSortParm })
            </th>
            <th>
                @Html.ActionLink("Last name", "Index", new { sortOrder = ViewBag.LastNameDescSortParm })
            </th>
            <th>
                @Html.ActionLink("Endlas email", "Index", new { sortOrder = ViewBag.EmailDescSortParm })
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndlasEmail)
      
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
