@model EndlasNet.Web.Models.WorkViewModel
@{ 
    string workTypeHeading = "";

    if(Model.WorkType == WorkType.Job)
    {
        workTypeHeading = "Job";
    }
    else if(Model.WorkType == WorkType.WorkOrder)
    {
        workTypeHeading = "Work orders";
    }
    else if(Model.WorkType == WorkType.Work)
    {
        workTypeHeading = "Work";
    }
}
<h4>@workTypeHeading</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Work.Quote.EndlasNumber)
    </dt>
    @if (Model.WorkType == WorkType.Job)
    {
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.Quote.EndlasNumber)
        </dd>
    }
    else
    {
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.EndlasNumber)
        </dd>
    }

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Work.WorkDescription)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Work.WorkDescription)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Work.Status)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Work.Status)
    </dd>
    @if (Model.WorkType == WorkType.Job)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.PurchaseOrderNum)
        </dt>
        if (Model.Work.PurchaseOrderNum == null)
        {
            <dd class="col-sm-10">
                No purchase order number set
            </dd>
        }
        else
        {
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Work.PurchaseOrderNum)
            </dd>
        }

    }

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Work.DueDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Work.DueDate)
    </dd>
    @if (Model.WorkType == WorkType.Job)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.PoDate)
        </dt>

        <dd class="col-sm-10">
            @if (Model.Work.PoDate == null)
            {
                <span>No PO date</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Work.PoDate)
            }
        </dd>
    }

    <dt class="col-sm-2">
        Process sheet notes
    </dt>
    <dd class="col-sm-10">
        @if (Model.Work.ProcessSheetNotesPdfBytes != null)
        {
            <a title="Download process sheet PDF" asp-action="DownloadProcessPdf" asp-controller="Jobs" asp-route-myvar="@Model.WorkId">
                <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
            </a>
        }
        else
        {
            <a>No process sheet PDF</a>
        }
    </dd>
    @if (Model.WorkType == WorkType.Job || Model.WorkType == WorkType.Work)
    {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work.Customer)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Work.Customer == null)
            {
                <span>NA</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Work.Customer.CustomerName)
            }

        </dd>
    }
</dl>