@using EndlasNet.Data;

@model EndlasNet.Data.Work

@{
    ViewData["Title"] = "Edit";
    WorkType workType = ViewBag.WorkType;
    string workTypeHeading = "";
    if (workType == WorkType.Job)
    {
        workTypeHeading = "Job";
    }
    else if (workType == WorkType.WorkOrder)
    {
        workTypeHeading = "Work order";
    }

}

<h1>Edit</h1>

<h4>@workTypeHeading</h4>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-workType="@workType" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="WorkId" />
            <input type="hidden" asp-for="ProcessSheetNotesPdfBytes" />

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.Status, new SelectList(Enum.GetValues(typeof(Status)), new { @class = "form-control" }))
                </div>
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>

            @if (workType == WorkType.Job)
            {
                <div class="form-group">
                    <div class="form-group">
                        <label asp-for="QuoteId" class="control-label"></label>
                        <select asp-for="QuoteId" class="form-control" asp-items="ViewBag.QuoteId"></select>
                        @if (ViewBag.NoQuoteWarning == true)
                        {
                            <span class="text-danger">No quote selected. Make sure there is an unreferenced quote available.</span>
                        }
                    </div>
                </div>
            }
            else if (workType == WorkType.WorkOrder)
            {
                <div class="form-group">
                    <label asp-for="EndlasNumber" class="control-label"></label>
                    <input asp-for="EndlasNumber" class="form-control" />
                    <span asp-validation-for="EndlasNumber" class="text-danger"></span>
                    @if (ViewBag.EndlasNumberConflict == "true")
                    {
                        <span class="text-danger">Endlas number @Model.EndlasNumber already exists.</span>
                    }
                </div>
            }

            <div class="form-group">
                <label asp-for="WorkDescription" class="control-label"></label>
                <input asp-for="WorkDescription" class="form-control" />
                <span asp-validation-for="WorkDescription" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessSheetNotesFile" class="control-label"></label>
                <div></div>
                <input asp-for="ProcessSheetNotesFile" accept="application/pdf" />
                <span asp-validation-for="ProcessSheetNotesFile" class="text-danger"></span>
            </div>

            @if (workType == WorkType.Job)
            {
                <div class="form-group">
                    <label asp-for="PurchaseOrderNum" class="control-label"></label>
                    <input asp-for="PurchaseOrderNum" class="form-control" />
                    <span asp-validation-for="PurchaseOrderNum" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PoDate" class="control-label"></label>
                    <input asp-for="PoDate" class="form-control" />
                    <span asp-validation-for="PoDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CustomerId" class="control-label"></label>
                    <select asp-for="CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
                </div>
                <input asp-for="EndlasNumber" value="temp" hidden />

            }
            else if (workType == WorkType.WorkOrder)
            {
                <input asp-for="CustomerId" hidden />
                <input asp-for="PoDate" hidden />
                <input asp-for="PurchaseOrderNum" hidden />
                <input asp-for="QuoteId" hidden />
            }
            <input type="submit" value="Save" class="btn btn-primary" />
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-workType="@workType">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
