@model EndlasNet.Data.OptionalLaserService

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>OptionalLaserService</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeatTreatedBlankWt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeatTreatedBlankWt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HeatTreatedPricePerLb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HeatTreatedPricePerLb)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinHeatTreatmentPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinHeatTreatmentPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OptionalLaserServicesId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
