@model IEnumerable<EndlasNet.Data.RawMaterial_LaserQuoteSession>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RawMaterial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaserQuoteSession)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowerInWatts)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvgThicknessIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpotSizeMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentBeadOverlap)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceVelocityMmPerSec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PowderRpm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCaptureEffeciency)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingFlowRateLiPerMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LayerSurfaceAreaSqIn)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RawMaterial.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaserQuoteSession.LaserQuoteSessionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowerInWatts)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvgThicknessIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpotSizeMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentBeadOverlap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceVelocityMmPerSec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowderRpm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCaptureEffeciency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingFlowRateLiPerMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LayerSurfaceAreaSqIn)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
