@model IEnumerable<EndlasNet.Data.WorkOrder>

@{
    ViewData["Title"] = "Work orders";
}
<a asp-action="Work" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Work
    </span>
</a>
<h1>Work orders</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EndlasNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessSheetNotesFile)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EndlasNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @if (item.ProcessSheetNotesPdfBytes != null)
                {
                    <a title="Download process sheet PDF" asp-action="DownloadProcessPdf" asp-controller="WorkOrders" asp-route-myvar="@item.WorkId">
                        <span><img src="~/img/download.png" style="max-width:60px;max-height:60px" /></span>
                    </a>
                }
                else
                {
                    <a style="color:gray">None</a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
