@model IEnumerable<EndlasNet.Data.WorkOrder>

@{
    ViewData["Title"] = "Work orders";
}

<h1>Work orders</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EndlasNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EndlasNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.WorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.WorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
