@model EndlasNet.Data.IntermediateParam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IntermediateParam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurfaceVelocity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurfaceVelocity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StepMm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StepMm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StepIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StepIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssumedAvgPassLenIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssumedAvgPassLenIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PseudoWidthIn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PseudoWidthIn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PseudoNumPasses)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PseudoNumPasses)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePerBeadSec)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePerBeadSec)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimeBetweenBeadsMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimeBetweenBeadsMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TimePerLayerMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TimePerLayerMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CladAddRateSqInPerMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CladAddRateSqInPerMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApproxVolPerLayerCubicCm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApproxVolPerLayerCubicCm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaserQuoteSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaserQuoteSession.LaserQuoteSessionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IntermediateParamId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
