@model IEnumerable<EndlasNet.Data.IntermediateParam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurfaceVelocity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepMm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StepIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssumedAvgPassLenIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PseudoWidthIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PseudoNumPasses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePerBeadSec)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimeBetweenBeadsMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TimePerLayerMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladAddRateSqInPerMin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApproxVolPerLayerCubicCm)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LaserQuoteSession)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceVelocity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepMm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StepIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssumedAvgPassLenIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PseudoWidthIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PseudoNumPasses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePerBeadSec)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeBetweenBeadsMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimePerLayerMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CladAddRateSqInPerMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApproxVolPerLayerCubicCm)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaserQuoteSession.LaserQuoteSessionId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntermediateParamId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntermediateParamId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntermediateParamId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
