@model EndlasNet.Data.Quote

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Quote</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PowderDirectTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PowderDirectTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GasTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GasTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EnergyTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EnergyTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CogsTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CogsTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LaborDirectTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LaborDirectTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FringeTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FringeTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfitTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfitTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverheadTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverheadTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuoteSession)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuoteSession.QuoteSessionName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.QuoteId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
