@model EndlasNet.Data.MachiningToolForWork

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machining tool for work</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateUsed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateUsed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MachiningTool.VendorDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MachiningTool.VendorDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Work)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Work.WorkDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MachiningToolForWorkId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
