@using EndlasNet.Data; 
@model IEnumerable<EndlasNet.Data.MachiningToolForWork>

@{
    ViewData["Title"] = "Tools for work";
    

}
<a href='@Url.Action("Action", "Home")'>
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Action
    </span>
</a>
<h1>Machining tools for work</h1>

<p>
    <a asp-action="CreateGetWork">Use a machining tool</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MachiningTool.VendorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkItem.Work.WorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.MachiningType)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachiningTool.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkItem.Work.WorkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MachiningType)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MachiningToolForWorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachiningToolForWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
