@model IEnumerable<EndlasNet.Data.Part>

@{
    ViewData["Title"] = "Parts";
}

<h1>Parts</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
@*                @Html.DisplayNameFor(model => model.DrawingNumber)
*@            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingNotes)
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.ImageName)
*@            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
@*                @Html.DisplayFor(modelItem => item.DrawingNumber)
*@            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingNotes)
            </td>
            <td>
@*                @Html.DisplayFor(modelItem => item.ImageName)
*@            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
