
@model EndlasNet.Web.Models.PowderForPartViewModel

@{
    ViewData["Title"] = "Create";
    var workDesc = ViewBag.WorkDescription;
    var workItemPartInfo = ViewBag.DrawingNumber;
    var now = DateTime.Now.ToString("s");
}

<h1>Create</h1>

<h4>Powder for parts</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Work</label>
            <span>
                <input asp-for="@workDesc" class="form-control" readonly />
            </span>
            <br />
            <span>
                <label class="control-label">Work item</label>
                <input asp-for="@workItemPartInfo" class="form-control" readonly />

                <a href='@Url.Action("CreateGetWork", "PowderForParts")'>
                    <span style="margin-top:5px" class="form-inline">
                        <img style="max-width:20px;max-height:20px;" src="~/img/restart.png" />&nbsp;Restart
                    </span>
                </a>
            </span>
        </div>
        <form asp-action="CreateWithWorkSet" enctype="multipart/form-data">
            <input asp-for="Work" hidden />
            <input asp-for="WorkId" hidden />
            <input asp-for="WorkItemId" hidden />
            <input asp-for="WorkItem" hidden />
            <div class="form-group">
                <label asp-for="DateUsed" class="control-label"></label>
                <input asp-for="DateUsed" class="form-control" value="@now"/>
                <span asp-validation-for="DateUsed"></span>
            </div>
            <div class="form-group">
                <label asp-for="PowderBottleId" class="control-label"></label>
                <select asp-for="PowderBottleId" class="form-control" asp-items="ViewBag.PowderBottleId"></select>
            </div>
            <div class="form-group">
                <label asp-for="PowderWeightUsed" class="control-label"></label>
                <input asp-for="PowderWeightUsed" class="form-control" />
                <span asp-validation-for="PowderWeightUsed" class="text-danger"></span>
                @if (ViewBag.HasEnoughPowder == "false")
                {
                    <span class="text-danger">Not enough powder. @ViewBag.PowderLeft lbs left.</span>

                }
            </div>

            <span>Parts</span>
            <table>
                <thead>
                    @for (int i = 0; i < Model.CheckBoxes.Count; i++)
                    {
                        <tr>
                            <td>
                                @Model.CheckBoxes[i].Label
                            </td>
                            <td>
                                <input asp-for="@Model.CheckBoxes[i].IsChecked" class="form-control" id="id @i" style="min-height:30px;min-width:30px" />
                                <input asp-for="@Model.CheckBoxes[i].PartForWorkId" id="value @i" hidden />
                            </td>
                        </tr>
                    }

                </thead>
            </table>
            @if (ViewBag.NoCheckboxSelect == "true")
            {
                <span class="text-danger">Please select at least 1 part.</span>
                <br />
            }
            <br />
            <input type="submit" onsubmit="onClick()" value="Submit" class="btn btn-primary" />
        </form>
        <br />

    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

<script src="/js/ajax-common.js"></script>

<script>

    function getDateTime() {
        return Date.now();
    }

    function onClick() {
        @Model.CheckBoxes = getCheckboxes();
        $.ajax({
            type: "POST",
            url: "PowderForParts/CreateWithWorkSet",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { "vm": @Model },
            success: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
