@using EndlasNet.Web.Models;
@using EndlasNet.Data;
@model EndlasNet.Web.Models.PowderForPartViewModel

@{
    ViewData["Title"] = "Create";
    var workDesc = ViewBag.WorkDescription;
    var vm = ViewBag.vm;
}

<h1>Create</h1>

<h4>Powder for part</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <div>
            <label class="control-label">Work</label>
            <input asp-for="@workDesc" class="form-control" readonly />
        </div>
        <br />
        <span>Parts</span>

        <table>
            <thead>
                @for (int i = 0; i < Model.CheckBoxes.Count; i++)
                {
                    <tr>
                        <td>
                            @Model.CheckBoxes[i].Label
                        </td>
                        <td>
                            <input asp-for="@Model.CheckBoxes[i].IsChecked" class="form-control" id="id @i" style="min-height:30px;min-width:30px" />
                            <input asp-for="@Model.CheckBoxes[i].PartForWorkId" id="value @i" hidden  />
                        </td>
                    </tr>
                }
            </thead>
        </table>
        <button type="button" onclick="selectParts()">Select</button>
    </div>

</div>
0
<div>
    <a asp-action="Index">Back to list</a>
</div>


<script src="/js/ajax-common.js"></script>

@*put hidden inputs to reference when posting selected parts*@

<script>

    const URL = "https://localhost:5001/PowderForParts/CreateWithWorkSet";

    function selectParts() {
        
        let checkboxes = [];
          for (i = 0; i < @Model.CheckBoxes.Count; i++) {
                    checkboxes.push(getCheckBoxFromInput(i));
        }
        console.log(checkboxes);
        let req = new XMLHttpRequest();
        req.onreadystatechange = function () {
            if (this.readyState === XMLHttpRequest.DONE && this.status === 200) {

                console.log(this.response);
            }
        };

        req.open("GET", URL + "/" + JSON.stringify(checkboxes));
        req.send();

    }


</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
