@model IEnumerable<EndlasNet.Data.PowderForPart>

@{
    ViewData["Title"] = "PowderBottles for parts";
}

<h1>Powders for parts</h1>

<p>
    <a asp-action="CreateGetWork">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Part drawing image
                </div>
                <span style="color:darkred">
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.PartDrawingAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    -
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.PartDrawingDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.PartForWork.Suffix)
                </div>
                <span style="color:darkred">
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.SuffixAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    -
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.SuffixDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.PowderBottle)
                </div>
                <span style="color:darkred">
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.PowderBottleAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    -
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.PowderBottleDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PowderWeightUsed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src=@Html.DisplayFor(modelItem => item.PartForWork.StaticPartInfo.ImageUrl) alt="Drawing Image" style="max-width:75px;max-height:60px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PartForWork.Suffix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowderBottle.StaticPowderInfo.PowderName) &nbsp; - &nbsp;
                @Html.DisplayFor(modelItem => item.PowderBottle.BottleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PowderWeightUsed)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PowderForPartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PowderForPartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PowderForPartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
