@model IEnumerable<EndlasNet.Data.PartForJob>

@{
    ViewData["Title"] = "Parts for jobs";
}

<h1>Parts for jobs</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Part information
            </th>
            <th>
                Job
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladdedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedWeight)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartInfo.DrawingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work.EndlasNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CladdedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
