@model IEnumerable<EndlasNet.Data.PartForJob>

@{
    ViewData["Title"] = "Parts for jobs";
}

<h1>Parts for jobs</h1>

<p>
    <a asp-action="Create">Initialize new part batch</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Part information
                </div>
                <span>
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.PartInfoAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.PartInfoDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
<th>
                <div>
                    Job
                </div>
                <span>
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.JobAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.JobDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>
            <th>
                <div>
                    Suffix
                </div>
                <span>
                    @Html.ActionLink("Asc ", "Index", new { sortOrder = ViewBag.SuffixAscSortParm }, new { @style = "font-size:small;color:firebrick;" })
                    @Html.ActionLink(" Desc", "Index", new { sortOrder = ViewBag.SuffixDescSortParm }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladdedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedWeight)
            </th>


            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartInfo.DrawingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Work.EndlasNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CladdedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedWeight)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartForWorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartForWorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartForWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
