@model EndlasNet.Data.LineItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Line item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaticPowderInfoId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaticPowderInfo.PowderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class="col-sm-2">
            Particle range (&#956;m)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticleSizeMin)&nbsp;-&nbsp;@Html.DisplayFor(model => model.ParticleSizeMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumBottles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumBottles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LineItemCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LineItemCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CertPdfFile)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CertPdfBytes != null)
            {
                <a title="Download cert PDF" asp-action="DownloadCertPdf" asp-controller="LineItems" asp-route-id="@Model.LineItemId">
                    <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                </a>
            }
            else
            {
                <a>No cert PDF</a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PowderOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PowderOrder.PurchaseOrderNum)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.LineItemId">Edit</a> |
    @Html.ActionLink("Back to list", "Index", new { powderOrderId = Model.PowderOrderId })
</div>
