@model IEnumerable<EndlasNet.Data.LineItem>

@{
    ViewData["Title"] = "Line items";
}

<h1>Line items: @ViewBag.PurchaseOrderNum</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaticPowderInfo.PowderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorDescription)
            </th>
            <th>
                Particle range (&#956;m)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumBottles)
            </th>
  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @if (item.IsInitialized)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.StaticPowderInfo.PowderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VendorDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ParticleSizeMin)&nbsp;-&nbsp;@Html.DisplayFor(modelItem => item.ParticleSizeMax)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumBottles)
                </td>
            }
            else
            {
                <td>
                    *
                </td>
                <td>
                    *
                </td>
                <td>
                    *
                </td>
                <td>
                    *
                </td>
            }
            <td>
                @if (!item.IsInitialized)
                {
                    <a asp-action="Initialize" asp-route-id="@item.LineItemId">Initialize line item</a>
                }
                else
                {
                    @Html.ActionLink("Manage powders", "ManagePowders", "LineItems", new { lineItemId = item.LineItemId, powderName = item.StaticPowderInfo.PowderName }); <span> |</span>
                    <a asp-action="Edit" asp-route-id="@item.LineItemId">Edit</a> <span> |</span>
                    <a asp-action="Details" asp-route-id="@item.LineItemId">Details</a> <span> |</span>
                    <a asp-action="Uninitialize" asp-route-id="@item.LineItemId">Uninitialize</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
