@model IEnumerable<EndlasNet.Data.LineItem>

@{
    ViewData["Title"] = "Line items";
}

<h1>Line items: @ViewBag.PowderOrderNum</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParticleSize)
            </th>

  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PowderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticleSize)
            </td>

            <td>
                @Html.ActionLink("Manage powders", "ManagePowders", new { lineItemId = item.LineItemId, powderName = item.PowderName}) |
                @Html.ActionLink("Edit", "Edit", new { id = item.LineItemId }) |
                <a asp-action="Details" asp-route-id="@item.LineItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LineItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
