@model IEnumerable<EndlasNet.Data.LineItem>

@{
    ViewData["Title"] = "Line items";
}

<h1>Line items: @ViewBag.PurchaseOrderNum</h1>

<p>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StaticPowderInfo.PowderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorDescription)
            </th>
            <th>
                Particle range (&#956;m)
            </th>

  
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaticPowderInfo.PowderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParticleSizeMin)&nbsp;-&nbsp;@Html.DisplayFor(modelItem => item.ParticleSizeMax)
            </td>

            <td>
                @if (!item.IsInitialized)
                {
                    <a asp-action="Initialize" asp-route-id="@item.LineItemId">Initialize line item</a> <span> |</span>
                }
                else
                {
                    if(item.StaticPowderInfo != null)
                    {
                        @Html.ActionLink("Manage powders", "ManagePowders", "LineItems", new { lineItemId = item.LineItemId, powderName = item.StaticPowderInfo.PowderName }); <span> |</span>
                    }
                    else
                    {
                        <a>Manage powders</a> <span> |</span>
                    }
                }
                <a asp-action="Edit" asp-route-id="@item.LineItemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LineItemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LineItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
