@model EndlasNet.Data.LineItem

@{
    ViewData["Title"] = "Uninitialize";
}

<h1>Uninitialize</h1>

<h3>Are you sure you want to uninitialize this?</h3>
<div>
    <h4>Line item</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StaticPowderInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StaticPowderInfo.PowderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VendorDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class="col-sm-2">
            Particle range (&#956;m)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParticleSizeMin)&nbsp;-&nbsp;@Html.DisplayFor(model => model.ParticleSizeMax)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumBottles)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumBottles)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Weight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Weight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PowderOrder)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PowderOrder.PurchaseOrderNum)
        </dd>
    </dl>
    
    <form asp-action="Uninitialize">
        <input type="hidden" asp-for="LineItemId" />
        <input type="submit" value="Uninitialize" class="btn btn-danger" /> |
        @Html.ActionLink("Back to list", "Index", new { powderOrderId = Model.PowderOrderId})
    </form>
</div>
