@model IEnumerable<EndlasNet.Data.PartForWorkOrder>

@{
    ViewData["Title"] = "Parts for work orders";
}

<h1>Parts for work orders</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Part)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Job)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Part.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.EndlasNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartForWorkOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartForWorkOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartForWorkOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
