@model EndlasNet.Data.PartForJob
<link rel="stylesheet" href="~/css/custom-style.css" type="text/css" />
<style type="text/css" media="screen">

    div.col-sm-2 > span.no-image-span > img {
        max-width: 500px;
        max-height: 350px;
    }
    div.col-sm-2 > img {
        max-height: 450px;
        max-width: 450px;
    }
       
</style>


<div>
    <h4>Part for a job</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.WorkItem.Work)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.WorkItem.Work.WorkDescription)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConditionDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InitWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InitWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CladdedWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CladdedWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FinishedWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingNotes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProcessingNotes)
        </dd>
    </dl>

    <br />
    <br />

    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        <em>
            Machining image
        </em>
    </h6>

    <div class="col-sm-2">
        @if (Model.MachiningImageBytes == null)
        {
            <span class="no-image-span">
                <img src="~/img/no_image.png" />
            </span>
        }
        else
        {
            <img src="@Html.DisplayFor(model => model.MachiningImageUrl)"  alt="Machining Image" />
        }
    </div>
    <br />
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        <em>
            Cladding image
        </em>
    </h6>

    <div class="col-sm-2">
        @if (Model.CladdingImageBytes == null)
        {
            <span class="no-image-span">
                <img src="~/img/no_image.png" />
            </span>
        }
        else
        {
            <img src="@Html.DisplayFor(model => model.CladdingImageUrl)"  alt="Cladding Image" />
        }
        </div>
    <br />
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">

        <em>
            Finished image
        </em>
    </h6>

    <div class="col-sm-2">
        @if (Model.FinishedImageBytes == null)
        {
            <span class="no-image-span">
                <img src="~/img/no_image.png" />
            </span>
        }
        else
        {
            <img src="@Html.DisplayFor(model => model.FinishedImageUrl)"  alt="Finished Image" />
        }
    </div>
    <br />
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        <em>
            Used image
        </em>
    </h6>

    <div class="col-sm-2">
        @if (Model.UsedImageBytes == null)
        {
            <span class="no-image-span">
                <img src="~/img/no_image.png" />
            </span>
        }
        else
        {
            <img src="@Html.DisplayFor(model => model.UsedImageUrl)"  alt="Used Image" />
        }
        </div>

    <br />
    <br />
</div>
