@model EndlasNet.Data.PartForJob

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Part for a job</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Work)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Work.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StaticPartInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StaticPartInfo.DrawingNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Suffix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Suffix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumParts)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumParts)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConditionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConditionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InitWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InitWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CladdedWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CladdedWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FinishedWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FinishedWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcessingNotes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcessingNotes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PartForWorkId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
