@model EndlasNet.Data.PartForJob

@{
    ViewData["Title"] = "Edit";
    var imageUrl = "NA";
    if(Model.PartForWorkImg != null)
    {
        imageUrl = Model.PartForWorkImg.ImageUrl;
    }
}

<h1>Edit</h1>

<h4>Part for a job</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="PartForWorkId" />
            <input type="hidden" asp-for="WorkId" />
            <input type="hidden" asp-for="Work" />
            <input type="hidden" asp-for="PartForWorkImg.ImageFile" />
            <input type="hidden" asp-for="StaticPartInfoId" />
            <input type="hidden" asp-for="PartForWorkImg.ImageBytes" />
            <input type="hidden" asp-for="MachiningImageBytes" />
            <input type="hidden" asp-for="MachiningImageFile" />

            <input type="hidden" asp-for="CladdingImageBytes" />
            <input type="hidden" asp-for="CladdingImageFile" />

            <input type="hidden" asp-for="FinishedImageBytes" />
            <input type="hidden" asp-for="FinishedImageFile" />

            <input type="hidden" asp-for="UsedImageBytes" />
            <input type="hidden" asp-for="UsedImageFile" />

            <div class="form-group">
                <label asp-for="ConditionDescription" class="control-label"></label>
                <input asp-for="ConditionDescription" class="form-control" />
                <span asp-validation-for="ConditionDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InitWeight" class="control-label"></label>
                <input id="initWeight" asp-for="InitWeight" class="form-control" />
                <span asp-validation-for="InitWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CladdedWeight" class="control-label"></label>
                <input id="claddedWeight" asp-for="CladdedWeight" class="form-control" />
                <span asp-validation-for="CladdedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinishedWeight" class="control-label"></label>
                <input id="finishedWeight " asp-for="FinishedWeight" class="form-control" />
                <span asp-validation-for="FinishedWeight" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProcessingNotes" class="control-label"></label>
                <input id="processingNotes" asp-for="ProcessingNotes" class="form-control" />
                <span asp-validation-for="ProcessingNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Suffix" class="control-label"></label>
                <input id="suffix" asp-for="Suffix" class="form-control" />
                <span asp-validation-for="Suffix" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartForWorkImgId" class="control-label"></label>
                <select id="partForWorkImgId" asp-for="PartForWorkImgId" class="form-control" asp-items="ViewBag.PartForWorkImgId"></select>
            </div>
            <div class="form-group">
                <div></div>
                @if (imageUrl != "NA")
                {
                    <span>Current image:&nbsp;</span>
                    <br />
                    <br />
                    <img src="@Html.DisplayFor(model => model.PartForWorkImg.ImageUrl)" alt="Image" style="max-height:50px;max-width:120px" />
                    <br /><br />
                }
                else
                {
                    <img src="~/img/no_image.png" style="max-width:450px;max-height:450px" />

                }

            </div>
            <div class="form-group">
                <label asp-for="MachiningImageFile" class="control-label"></label>
                <div></div>
                <input asp-for="MachiningImageFile" accept="image/*" />
                <span asp-validation-for="MachiningImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div></div>
                @if (Model.MachiningImageBytes != null)
                {
                    <span>
                        Machining image:&nbsp;
                    </span>
                    <br />
                    <br />
                    <img src="@Html.DisplayFor(model => model.MachiningImageBytes)" alt="Image" style="max-height:50px;max-width:120px" />
                    <br /><br />
                }
                else
                {
                    <img src="~/img/no_image.png" style="max-width:450px;max-height:450px" />
                }
                

            </div>
            <div class="form-group">
                <label asp-for="CladdingImageFile" class="control-label"></label>
                <div></div>
                <input asp-for="CladdingImageFile" accept="image/*" />
                <span asp-validation-for="CladdingImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div></div>
                @if (Model.CladdingImageBytes != null)
                {
                    <span>
                        Cladding image:&nbsp;
                    </span>
                    <br />
                    <br />
                    <img src="@Html.DisplayFor(model => model.CladdingImageBytes)" alt="Image" style="max-height:50px;max-width:120px" />
                    <br /><br />
                }
                else
                {
                    <img src="~/img/no_image.png" style="max-width:450px;max-height:450px" />
                }
                <div class="form-group">
                    <label asp-for="FinishedImageFile" class="control-label"></label>
                    <div></div>
                    <input asp-for="FinishedImageFile" accept="image/*" />
                    <span asp-validation-for="FinishedImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div></div>
                    @if (Model.FinishedImageBytes != null)
                    {
                        <span>
                            Finished image:&nbsp;
                        </span>
                        <br />
                        <br />
                        <img src="@Html.DisplayFor(model => model.FinishedImageBytes)" alt="Image" style="max-height:50px;max-width:120px" />
                        <br /><br />
                    }
                    else
                    {
                        <img src="~/img/no_image.png" style="max-width:450px;max-height:450px" />
                    }
                </div>
                    <div class="form-group">
                        <label asp-for="UsedImageFile" class="control-label"></label>
                        <div></div>
                        <input asp-for="UsedImageFile" accept="image/*" />
                        <span asp-validation-for="UsedImageFile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div></div>
                        @if (Model.UsedImageBytes != null)
                        {
                            <span>
                                Used image:&nbsp;
                            </span>
                            <br />
                            <br />
                            <img src="@Html.DisplayFor(model => model.UsedImageBytes)" alt="Image" style="max-height:50px;max-width:120px" />
                            <br /><br />
                        }
                        else
                        {
                            <img src="~/img/no_image.png" style="max-width:450px;max-height:450px" />
                        }
                    </div>
                        <input id="numParts" asp-for="NumParts" class="form-control" hidden readonly />

                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to list</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script>
     function onClick() {
        @Model = getPartForWork();
        $.ajax({
            type: "POST",
            url: "PartsForAJob/Edit",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            data: { "vm": @Model },
            success: function (response) {
                alert(response.responseText);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

   }
    function getPartForWork() {
        return {
            "partForWorkId": getValue("partForWorkId"),
            "workId": getValue("workId"),
            "work": getValue("work"),
            "staticPartInfoId": getValue("staticPartInfoId"),
            "staticPartInfo": getValue("staticPartInfo"),
            "suffix": getValue("suffix"),
            "numParts": getValue("numParts"),
            "initWeight": getValue("initWeight"),
            "claddedWeight": getValue("claddedWeight"),
            "finishedWeight": getValue("finishedWeight"),
            "processingNotes": getValue("processingNotes"),
            "partForWorkImgId": getValue("partForWorkImgId")

        }
    }
</script>