@model IEnumerable<EndlasNet.Data.PartForJob>

@{
    ViewData["Title"] = "Part batch";
}
<a asp-action="Index" asp-controller="PartForJobs">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Parts for jobs
    </span>
</a>
<h3>
    Job part batch
</h3>
<br />
<h4>
    @Html.DisplayFor(modelItem => Model.FirstOrDefault().WorkItem.StaticPartInfo.DrawingNumber), @Html.DisplayFor(modelItem => Model.FirstOrDefault().WorkItem.Work.EndlasNumber)
</h4>


<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Suffix
                </div>
                <span style="color:firebrick">
                    <a href="@Url.Action("Index", "PartsForAJob", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.SuffixAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("Index", "PartsForAJob", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.SuffixDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladdedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingNotes)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CladdedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingNotes)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PartForWorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartForWorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartForWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
