@model IEnumerable<EndlasNet.Data.PartForJob>

@{
    ViewData["Title"] = "Index";
}
<h2>Part batch</h2>
<h5 style="color:gray">
    <span>Part information drawing number:</span>
    <span>@Html.DisplayFor(modelItem => Model.FirstOrDefault().PartInfo.DrawingNumber)</span>
    <br />
    <span>Job endlas number:</span>
    <span>@Html.DisplayFor(modelItem => Model.FirstOrDefault().Work.EndlasNumber)</span>

</h5>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Suffix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladdedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProcessingNotes)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Suffix)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ConditionDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InitWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CladdedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FinishedWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProcessingNotes)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.PartForWorkId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PartForWorkId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PartForWorkId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
