@model EndlasNet.Data.DrillBit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DrillBit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Drill bit radius
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrillBitRadius)
        </dd>
        <dt class = "col-sm-2">
            Vendor description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class = "col-sm-2">
            Bit count
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolCount)
        </dd>
        <dt class = "col-sm-2">
            Purchase order number
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderNum)
        </dd>
        <dt class = "col-sm-2">
            Purchase order date
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderDate)
        </dd>
        <dt class = "col-sm-2">
            Purchase order price
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderPrice)
        </dd>
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>
        <dt class = "col-sm-2">
            Vendor
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MachiningToolId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
