@model IEnumerable<EndlasNet.Data.DrillBit>

@{
    ViewData["Title"] = "Drill bits";
}

<h1>Drill bits</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drill bit radius
            </th>
            <th>
                Vendor description
            </th>
            <th>
                Bit count
            </th>
            <th>
                Purchase order number
            </th>               
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DrillBitRadius)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNum)
            </td>          
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachiningToolId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachiningToolId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachiningToolId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
