@model EndlasNet.Data.PowderBottle
@{
    var initWeightStr = string.Format("{0:0.0000}", Model.InitWeight);
    var weightStr = string.Format("{0:0.0000}", Model.Weight);
}

<h4>Powder</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.BottleNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.BottleNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.InitWeight)
    </dt>
    <dd class="col-sm-10">
        @initWeightStr
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Weight)
    </dt>
    <dd class="col-sm-10">
        @weightStr
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.LotNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.LotNumber)
    </dd>

</dl>
