@using EndlasNet.Data;
@model IEnumerable<EndlasNet.Data.PowderBottle>

@{
    ViewData["Title"] = "All powder bottles";
    var shippingCost = Model.FirstOrDefault().LineItem.PowderOrder.ShippingCost;
    var taxCost = Model.FirstOrDefault().LineItem.PowderOrder.TaxCost;
    var sharredCost = (shippingCost + taxCost) / Model.Count();
    List<float> costs = new List<float>();
    foreach (PowderBottle bottle in Model)
    {
        if(bottle.InitWeight > 0)
        {
            float? itemCost = (bottle.LineItem.LineItemCost / bottle.LineItem.PowderBottles.Count()) + sharredCost;
            costs.Add((float)((bottle.LineItem.LineItemCost)/bottle.LineItem.PowderBottles.Count() + sharredCost) / (bottle.InitWeight));

        }
        else
        {
            costs.Add(0.0f);
        }
    }
    costs.Reverse();
}
<a asp-action="Inventory" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Inventory
    </span>
</a>
<h1>All powders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.StaticPowderInfo.EndlasDescription)
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.PowderNameAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.PowderNameDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.BottleNumber)
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.BottleNumberAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.BottleNumberDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.Weight)
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.WeightAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.WeightDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.LotNumber)
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.LotNumberAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.LotNumberDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th>
                <div>
                    @Html.DisplayNameFor(model => model.CostPerPound)
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.CostPerPoundAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("AllPowderIndex", "PowderBottles", new { sortOrder = ViewBag.CostPerPoundDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                </span>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

         @{var index = -1;}

            @foreach (var item in Model)
            {
                index += 1;

                var weightStr = string.Format("{0:0.0000}", item.Weight);
                var costPerPound = item.CostPerPound.ToString("C");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StaticPowderInfo.EndlasDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BottleNumber)
            </td>
            <td>
                @weightStr
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LotNumber)
            </td>
            <td>
                @costPerPound
            </td>
            <td>
                <a asp-action="Edit" asp-controller="PowderBottles" asp-route-id="@item.PowderBottleId">Edit</a> |
                <a asp-action="Details" asp-controller="PowderBottles" asp-route-id="@item.PowderBottleId">Details</a> |
                <a asp-action="Delete" asp-controller="PowderBottles" asp-route-id="@item.PowderBottleId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>

