@model IEnumerable<EndlasNet.Data.PowderBottle>

@{
    ViewData["Title"] = "Powder bottle batch";
    string id = ViewBag.LineItemId;
}
<a href='@Url.Action("BackToLineItems", "PowderBottles", new { lineItemId = ViewBag.LineItemId })'>
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Line items
    </span>
</a>
<br />
<br />
<h2>Powder bottle batch</h2>
<p style="font-size:xx-large">
    <span>
        @ViewBag.PowderOrderNum,&nbsp;@ViewBag.LineItemVendorDescription,&nbsp;@ViewBag.PowderName
    </span>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BottleNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LotNumber)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            var initWeightStr = string.Format("{0:0.0000}", item.InitWeight);
            var weightStr = string.Format("{0:0.0000}", item.Weight);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BottleNumber)
                </td>
                <td>
                    @initWeightStr
                </td>
                <td>
                    @weightStr
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LotNumber)
                </td>

                <td>
                    <a asp-action="Edit" asp-controller="PowderBottles" asp-route-id="@item.PowderBottleId">Edit</a> |
                    <a asp-action="Details" asp-controller="PowderBottles" asp-route-id="@item.PowderBottleId">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
