@model IEnumerable<EndlasNet.Data.Work>

@{
    ViewData["Title"] = "All work";
}
<a asp-action="Work" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Work
    </span>
</a>
<h1>All work</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Work type
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndlasNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DueDate)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndlasNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseOrderNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DueDate)
                </td>

                <td>
                    <a asp-action="Details" asp-route-id="@item.WorkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.WorkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
