@model EndlasNet.Data.MachiningTool

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Machining tool</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolDiameter)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolDiameter)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ToolCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ToolCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrderNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseOrderCost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseOrderCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InvoiceNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendor.VendorName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MachiningToolId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
