@model IEnumerable<EndlasNet.Data.MachiningTool>

@{
    ViewData["Title"] = "Machining tools";
    
}
<a asp-action="Inventory" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Inventory
    </span>
</a>
<h1>Machining tools</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ToolType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToolDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToolDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VendorDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToolCount)
            </th>

            <th>
                Cost per tool
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    var costPerTool = item.PurchaseOrderCost / item.InitToolCount;
    var costPerToolStr = costPerTool.ToString("C");
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ToolType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VendorDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToolCount)
            </td>

            <td>
                @costPerToolStr
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MachiningToolId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MachiningToolId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MachiningToolId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
