@using EndlasNet.Data;
@using EndlasNet.Web.Models;
@model PaginatedList<AllPartForWorkViewModel>

<table class="table">
    <thead>
        <tr>
            <th>
                Work due date
                <div>
                    <a style="color:firebrick" asp-action="Index" asp-route-sortOrder="@ViewData["DueDateAscSortParm"]" asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-startDate="@ViewBag.CurrentStartDate" asp-route-endDate="@ViewBag.CurrentEndDate">
                        <img src="~/img/up_arrow.png" style="max-width:15px;max-height:15px" />
                    </a>
                    <a style="color:firebrick" asp-action="Index" asp-route-sortOrder="@ViewData["DueDateDescSortParm"]" asp-route-currentFilter="@ViewBag.CurrentFilter"
                       asp-route-startDate="@ViewBag.CurrentStartDate" asp-route-endDate="@ViewBag.CurrentEndDate">
                        <img src="~/img/down_arrow.png" style="max-width:15px;max-height:15px" />
                    </a>
                </div>
            </th>
            <th>
                Customer name
            </th>
            <th>
                Part drawing number
            </th>

            <th>
                <div>
                    <div>
                        Suffix
                    </div>
                    <span>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["SuffixAscSortParm"]" asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-startDate="@ViewBag.CurrentStartDate" asp-route-endDate="@ViewBag.CurrentEndDate">
                            <img style="max-width:15px;max-height:15px" src="~/img/up_arrow.png" />
                        </a>
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["SuffixDescSortParm"]" asp-route-currentFilter="@ViewBag.CurrentFilter"
                           asp-route-startDate="@ViewBag.CurrentStartDate" asp-route-endDate="@ViewBag.CurrentEndDate">
                            <img style="max-width:15px;max-height:15px" src="~/img/down_arrow.png" />
                        </a>
                    </span>
                </div>
            </th>
            <th>
                Initial weight
            </th>
            <th>
                Cladded weight
            </th>
            <th>
                Finished weight
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DisplayDueDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.Work.Customer.CustomerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.StaticPartInfo.DrawingNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.Suffix)
                </td>
             
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.InitWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.CladdedWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartForWork.FinishedWeight)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PartForWork.PartForWorkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PartForWork.PartForWorkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PartForWork.PartForWorkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
