@model IEnumerable<EndlasNet.Data.PartForWork>

@{
    ViewData["Title"] = "All parts for work";
}
<h3>
    All parts for work
</h3>
<br />


<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Work type
                </div>
                <span style="color:darkred">
                    @Html.ActionLink("Jobs ", "Index", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.WorkTypeJob }, new { @style = "font-size:small;color:firebrick;" })
                    -
                    @Html.ActionLink(" Work orders", "Index", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.WorkTypeWorkOrder }, new { @style = "font-size:small;color:firebrick;" })
                </span>
            </th>
            <th>

                <div>
                    Suffix
                </div>
                <span style="color:darkred">
                    <a href="@Url.Action("Index", "PartForWork", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.SuffixAscSortParm })" title="Ascending">
                        <img src="~/img/up_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>
                    <a href="@Url.Action("Index", "PartForWork", new { id = ViewBag.id, workId = ViewBag.workId, partInfoId = ViewBag.partInfoId, sortOrder = ViewBag.SuffixDescSortParm })" title="Descending">
                        <img src="~/img/down_arrow.png" style="max-width:14px;max-height:18px;" />
                    </a>        
                </span>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConditionDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CladdedWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FinishedWeight)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WorkType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suffix)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ConditionDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InitWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CladdedWeight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishedWeight)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.PartForWorkId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.PartForWorkId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.PartForWorkId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
