@model EndlasNet.Data.StaticPowderInfo

@{
    ViewData["Title"] = "Details";
}
<style type="text/css" media="screen">

    .my-custom-img {
        max-width: 60px;
        max-height: 60px;
    }
</style>
<h1>Details</h1>

<div>
    <h4>Static powder information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PowderName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PowderName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Density)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Density)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EstCostPerLb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EstCostPerLb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Composition)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Composition)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlowRateSlope)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlowRateSlope)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FlowRateYIntercept)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FlowRateYIntercept)
        </dd>
        <dt class="col-sm-2">
            Information pdf
        </dt>
        <dd class="col-sm-10">
            @if (Model.InformationFilePdfBytes != null)
            {
                <a title="Download process sheet PDF" asp-action="DownloadCompositionPdf" asp-controller="StaticPowderInfoes" asp-route-myvar="@Model.StaticPowderInfoId">
                    <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                </a>
            }
            else
            {
                <a>No composition PDF</a>
            }
        </dd>
    </dl>
</div>
<span>
  
<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaticPowderInfoId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>
