@model IEnumerable<EndlasNet.Data.StaticPowderInfo>

@{
    ViewData["Title"] = "Index";
}
<style type="text/css" media="screen">

    .my-custom-img{
        max-width: 60px;
        max-height: 60px;

    }
</style>
<a asp-action="Inventory" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Inventory
    </span>
</a>
<h1>Static powder information</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCostPerLb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th>
                Information pdf
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PowderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCostPerLb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composition)
            </td>
            <td>
                @if (item.InformationFilePdfBytes == null)
                {
                    <a style="color:gray">None</a>
                }
                else
                {
                    <a title="Download process sheet PDF" asp-action="DownloadCompositionPdf" asp-controller="StaticPowderInfoes" asp-route-myvar="@item.StaticPowderInfoId">
                        <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                    </a>
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaticPowderInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaticPowderInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaticPowderInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
