@model IEnumerable<EndlasNet.Data.StaticPowderInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Static powder information</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PowderName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstCostPerLb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Composition)
            </th>
            <th>
                Composition pdf
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PowderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstCostPerLb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Composition)
            </td>
            <td>
                @if (item.CompositionFilePdfBytes == null)
                {
                    <a style="color:gray">None</a>
                }
                else
                {
                    @Html.ActionLink(
                        linkText: "Download PDF",
                        actionName: "DownloadCompositionPdf",
                        controllerName: "StaticPowderInfoes",
                        routeValues: new { id = item.StaticPowderInfoId },
                        htmlAttributes: null)
                }
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaticPowderInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaticPowderInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaticPowderInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
