@model IEnumerable<EndlasNet.Data.PowderOrder>

@{
    ViewData["Title"] = "PowderBottle orders";
}
<a asp-action="Inventory" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Inventory
    </span>
</a>
<h1>Powder orders</h1>

<p>
    <a asp-action="Create">Create new order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderNum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseOrderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vendor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfLineItems)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderNum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseOrderDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vendor.VendorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfLineItems)
            </td>
            <td>
                @Html.ActionLink("Manage line items", "ManageLineItems", new { powderOrderId = item.PowderOrderId}) |
                <a asp-action="Edit" asp-route-id="@item.PowderOrderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PowderOrderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PowderOrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
