@model EndlasNet.Data.StaticPartInfo

<div>
    <h4>Static part information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrawingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrawingNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApproxWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApproxWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartDescription)
        </dd>


        <dt class="col-sm-2">
            Blank pdf
        </dt>
        <dd class="col-sm-10">
            @if (Model.BlankDrawingPdfBytes == null)
            {
                <a style="color:gray">None</a>
            }
            else
            {
                <a title="Download blank PDF" asp-action="DownloadBlankPdf" asp-controller="StaticPartInfoes" asp-route-myvar="@Model.StaticPartInfoId">
                    <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                </a>
            }
        </dd>

        <dt class="col-sm-2">
            Finish pdf
        </dt>
        <dd class="col-sm-10">
            @if (Model.FinishDrawingPdfBytes == null)
            {
                <a style="color:gray">None</a>
            }
            else
            {
                <a title="Download finish PDF" asp-action="DownloadFinishPdf" asp-controller="StaticPartInfoes" asp-route-myvar="@Model.StaticPartInfoId">
                    <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                </a>
            }
        </dd>
    </dl>
    <h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
        Title:
        <em>
            @Html.DisplayFor(model => model.ImageName)
        </em>
    </h6>
    <div class="col-sm-2">
        <img src="@Html.DisplayFor(model => model.ImageUrl)" style="max-width:650px;max-height:650px"alt="Drawing Image" />
    </div>
    <br />
</div>