@using System.Text;
@model EndlasNet.Data.StaticPartInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Static part information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DrawingNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DrawingNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApproxWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApproxWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PartDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PartDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.EndlasEmail)
        </dd>

    </dl>
</div>
<span>
@if (ViewBag.HasBlankPdf != null)
{
    @Html.ActionLink(
        linkText: "Download blank drawing PDF",
        actionName: "DownloadBlankPdf",
        controllerName: "StaticPartInfoes",
        routeValues: new { id = ViewBag.id },
        htmlAttributes: null)
}
else
{
    <a>No blank drawing PDF</a>
}
&nbsp;|&nbsp;
@if (ViewBag.HasFinishPdf != null)
{
    @Html.ActionLink(
        linkText: "Download finish drawing PDF",
        actionName: "DownloadFinishPdf",
        controllerName: "StaticPartInfoes",
        routeValues: new { id = ViewBag.id },
        htmlAttributes: null)
}
else
{
    <a>No finish drawing PDF</a>
}
</span>
<br />
<br />
<h6 style="color:lightgray" class="col-md-10 col-sm-10 col-lg-10">
    Title:
    <em>
        @Html.DisplayFor(model => model.ImageName)
    </em>
</h6>

<div class="col-sm-2">
    <img src="@Html.DisplayFor(model => model.ImageUrl)" alt="Drawing Image" />
</div>
<br />


<br />
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model.StaticPartInfoId">Edit</a> |
    <a asp-action="Index">Back to list</a>
</div>