@model IEnumerable<EndlasNet.Data.StaticPartInfo>

@{
    ViewData["Title"] = "Part information";
}

<h1>Static part information</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drawing image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartDescription)
            </th>
            <th>
                Has blank pdf
            </th>
            <th>
                Has finish pdf
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.StaticPartInfoId">
                    <img src=@Html.DisplayFor(modelItem => item.ImageUrl) alt="Drawing Image" style="max-width:75px;max-height:60px" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawingNumber)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.PartDescription)
            </td>
            <td>
                @if (item.BlankDrawingPdfBytes == null)
                {
                    <span style="color:red">False</span>
                }
                else
                {
                    <span style="color:green">True</span>
                }
            </td>
            <td>
                @if (item.FinishDrawingPdfBytes == null)
                {
                    <span style="color:red">False</span>
                }
                else
                {
                    <span style="color:green">True</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.CustomerName)
            </td>
        
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaticPartInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaticPartInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaticPartInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>