@model IEnumerable<EndlasNet.Data.StaticPartInfo>

@{
    ViewData["Title"] = "Part information";
}
<style type="text/css" media="screen">

    .my-custom-img {
        max-width: 60px;
        max-height: 60px;
    }
</style>
<a asp-action="Work" asp-controller="Home">
    <span>
        <img src="~/img/backArrow.jpg" width="30" height="30" />
        Work
    </span>
</a>
<h1>Static part information</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Drawing image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrawingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PartDescription)
            </th>
            <th>
                Blank pdf
            </th>
            <th>
                Finish pdf
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.StaticPartInfoId">
                    <img src=@Html.DisplayFor(modelItem => item.ImageUrl) alt="Drawing Image" style="max-width:75px;max-height:60px" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrawingNumber)
            </td>
  
            <td>
                @Html.DisplayFor(modelItem => item.PartDescription)
            </td>
            <td>
                @if (item.BlankDrawingPdfBytes == null)
                {
                    <a style="color:gray">None</a>
                }
                else
                {
                    <a title="Download blank PDF" asp-action="DownloadBlankPdf" asp-controller="StaticPartInfoes" asp-route-myvar="@item.StaticPartInfoId">
                        <span class="form-inline"><img src="~/img/download.png" class="my-custom-img"/></span>
                    </a>
                }
            </td>
            <td>
                @if (item.FinishDrawingPdfBytes == null)
                {
                    <a style="color:gray">None</a>
                }
                else
                {
                    <a title="Download finish PDF" asp-action="DownloadFinishPdf" asp-controller="StaticPartInfoes" asp-route-myvar="@item.StaticPartInfoId">
                        <span class="form-inline"><img src="~/img/download.png" class="my-custom-img" /></span>
                    </a>
                }
            </td>

        
            <td>
                <a asp-action="Edit" asp-route-id="@item.StaticPartInfoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StaticPartInfoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StaticPartInfoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>